header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    padding-inline: 10px;
    background-color: $clr1;
    color: $clr3;

    a {
        margin-inline-start: 1em;
    }

    .header-info {
        gap: 15px;
    }
}