// Colors - light mode
$clr1: rgb(45 45 72); // main text/border color
$clr2: #d9725c;
$clr3: #fff;
$clr4: #52627b;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$main-hover: #676879;
$work-space-bgc: #f6f7fb;
$side-nav-bgc: #292f4c;
$primery-btn-color: #0070e5;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Layout
$inner-padding-mobile: 15px;